<div class="post-edit" *ngIf="post">
  <h2 class="post-edit__title">Edit Post</h2>

  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Title" [(ngModel)]="post.title">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Content</mat-label>
    <textarea matInput placeholder="Content" [(ngModel)]="post.content"></textarea>
  </mat-form-field>

  <div>
    <button mat-raised-button routerLink="/posts/list">Cancel</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</div>
